body {
      padding: 16px;
      background-color: rgb(0, 201, 17);
      color: white;
      font-family: 'Coming Soon', cursive;
}

nav {
      width: 30%;
      max-width: 60%;
}

img {
      display: block;
      max-width: 30%;
      width: 20%;
}

footer {
      padding: 1%;
      text-align: center;
      background-color: purple;
}
#RedesSociales {
      display: block;
      max-width: 30%;
      width: 10%;
}